@model Talabatak.Models.Domains.ApplicationUser
@{
    ViewBag.Title = "تفاصيل العضو " + Model.Name;
    var CreatedOn = TimeZoneInfo.ConvertTimeFromUtc(Model.CreatedOn, TimeZoneInfo.FindSystemTimeZoneById("Sudan Standard Time"));
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-plus"></i> @ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-12">
                                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                {
                                    <a target="_blank" href="~/Content/Images/Users/@Model.ImageUrl"><img loading="lazy" src="~/Content/Images/Users/@Model.ImageUrl" width="200" height="200" class="img-circle" /></a>
                                }
                                else
                                {
                                    <img width="200" height="200" class="img-circle" loading="lazy" src="~/Content/assets/imgs/doesnotexist.png" />
                                }
                                <br />
                                <h3 class="mt-10">@Model.Name</h3>
                                <h3 class="mt-10">
                                    @if (Model.IsDeleted == true)
                                    {
                                        <span class="badge bg-red">محظور</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-green">نشط</span>
                                    }
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row">
                            <div class="container">
                                <div class="col-12 mb-25">
                                    <h3 class="text-right text-info">&bull; بيانات العضو</h3>
                                </div>
                                <div class="col-12 pr-20">
                                    <p><b class="fs-17">المدينه:</b> @(Model.CityId.HasValue == true ? Model.City.NameAr : "---")</p>
                                    <p><b class="fs-17">الدولة:</b> @(Model.CityId.HasValue == true ? Model.City.Country.NameAr : "---")</p>
                                    <p><b class="fs-17">رقم الهاتف:</b> <a dir="ltr" href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a>
                                    @if (Model.PhoneNumberConfirmed == false)
                                    {
                                    <p class="text-danger">رمز التفعيل [@Model.VerificationCode] ولم يتم تأكيد الرقم بعد</p>
                                    }
                                    </p>
                                    @*<p><b class="fs-17">البريد الالكترونى:</b> <a href="mailto:@Model.Email">@Model.Email</a></p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="@Url.Action("Clients", "Users")" class="btn btn-default">العودة</a>
                </div>
            </div>
        </div>
    </div>
</div>
