@model Talabatak.Models.ViewModels.EditUserVM
@{
    ViewBag.Title = "تعديل مستخدم";
    var Cities = ViewBag.Cities as List<Talabatak.Models.Domains.City>;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-plus"></i> تعديل بيانات @Model.Name</h3>
    </div>
    <div class="panel-body">
        <img src="@Url.Content(Model.ImageUrl != null ? ("~/Content/Images/Users/"+ Model.ImageUrl) : "~/Content/assets/imgs/unnamed.jpg")" style="height:200px ; width:200px" class="img-rounded" />
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <hr />
                        @using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(x => x.UserId)
                            <div class="row" style="margin:10px;">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-5 control-label required">اسم المستخدم:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control valid", required = true } })
                                            @Html.ValidationMessageFor(d => d.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="CityId" class="col-sm-5 control-label required">المدينة:</label>
                                        <div class="col-sm-7">
                                            <select name="CityId" id="CityId" class="form-control select2" required>
                                                @foreach (var city in Cities.OrderBy(s => s.Country.NameAr))
                                                {
                                                    <option value="@city.Id" @(Model != null && Model.CityId == city.Id ? "selected" : "")>@city.NameAr - @city.Country.NameAr</option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(d => d.CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:10px;">
                                <div class="col-lg-6">
                                    <p class="text-muted">&nbsp;</p>
                                    <div class="form-group">
                                        <label for="PhoneNumber" class="col-sm-5 control-label required">رقم الهاتف بدون الكود الدولى:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control valid", type = "number", required = true } })
                                            @Html.ValidationMessageFor(d => d.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-muted">&nbsp;</p>
                                    <div class="form-group">
                                        <label for="PhoneNumberCountryCode" class="col-sm-5 control-label required">الكود الدولى لرقم الهاتف:</label>
                                        <div class="col-sm-7">
                                            <input dir="ltr" name="PhoneNumberCountryCode" id="PhoneNumberCountryCode" readonly class="form-control text-center" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:10px;">
                                <div class="col-lg-6">
                                    <p class="text-muted">&nbsp;</p>
                                    <div class="form-group">
                                        <label for="Email" class="col-sm-5 control-label required">البريد الالكترونى:</label>
                                        <div class="col-sm-7">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control valid", required = true } })
                                            @Html.ValidationMessageFor(d => d.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="text-muted">&nbsp;</p>
                                    <div class="form-group">
                                        <label for="Image" class="col-sm-5 control-label">صوره المستخدم:</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" type="file" name="Image" id="Image" accept="image/*" />
                                            @Html.ValidationMessageFor(d => d.Image, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">تعديل</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("العودة", "SubAdmins", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#CityId").change(function () {
                var Id = $(this).val();
                var List = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Cities.Select(x => new { x.Id, x.Country.PhoneCode })));
                let obj = List.find(o => o.Id == Id);
                if (obj != null && obj != undefined) {
                    $("#PhoneNumberCountryCode").val("+" + obj.PhoneCode);
                }
            })

            $("#CityId").trigger("change");
        })
    </script>
}
