@model Talabatak.Models.Domains.VehicleType

@{
    ViewBag.Title = "تعديل " + Model.Name;
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-edit"></i> انواع المركبات</h3>
    </div>
    <div class="panel-body">
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">
                        <a><i class="fa fa-fw fa-edit"></i> تعديل نوع المركبه</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "VehicleTypes", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(d => d.CreatedOn)
                            @Html.HiddenFor(d => d.DeletedOn)
                            @Html.HiddenFor(d => d.Id)
                            @Html.HiddenFor(d => d.IsDeleted)
                            @Html.HiddenFor(d => d.IsModified)
                            @Html.HiddenFor(d => d.ModifiedOn)
                            @Html.HiddenFor(d => d.RestoredOn)

                            <div class="row" style="margin:10px;">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-5 control-label required">اسم المركبة: </label>
                                        <div class="col-sm-7">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control valid", required = true } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">تعديل</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

