@model Talabatak.Models.ViewModels.SideMenuVM
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-right image">
                @if (Model.UserImage != null)
                {
                    <img src="~/Content/Images/Users/@Model.UserImage" style="height:45px" class="img-circle" alt="@Model.Name" />
                }
                else
                {
                    <img src="~/Content/assets/imgs/avatar.png" style="height:45px" class="img-circle" alt="@Model.Name" />
                }
            </div>
            <div class="pull-left info">
                <p>@Model.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> متواجد</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("cp") ? "active" : "")">
                <a href="@Url.Action("Index", "cp")">
                    <i class="fa fa-book"></i> <span>الرئيسية</span>
                </a>
            </li>
            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("Slider") ? "active" : "")">
                <a href="@Url.Action("Index", "Slider")">
                    <i class="fa fa-dashboard"></i> <span>السلايدر</span>
                </a>
            </li>
            <li style="display:none" class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("Slider") ? "active" : "")">
                <a href="@Url.Action("Index", "SecondSlider")">
                    <i class="fa fa-dashboard"></i> <span> السلايدر الاضافى</span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("storeorders") ? "active" : "")">
                <a href="@Url.Action("Index", "StoreOrders")">
                    <i class="fa fa-shopping-cart"></i> <span>طلبات المتاجر </span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("otlobay7aga") ? "active" : "")">
                <a href="@Url.Action("Index", "OtlobAy7aga")">
                    <i class="fa fa-shopping-cart"></i> <span>طلبات اطلب اى حاجه</span>
                </a>
            </li>

            @*<li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("appjobs/orders") ? "active" : "")">
                <a href="@Url.Action("Orders", "AppJobs")">
                    <i class="fa fa-shopping-cart"></i> <span>طلبات المهن الحرفيين</span>
                </a>
            </li>*@

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("categories") ? "active" : "")">
                <a href="@Url.Action("Index", "Categories")">
                    <i class="fa fa-archive"></i> <span>الاقسام</span>
                </a>
            </li>
            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("ProductCategories") ? "active" : "")">
                <a href="@Url.Action("Index", "ProductCategories")">
                    <i class="fa fa-archive"></i> <span>الاقسام الفرعيه</span>
                </a>
            </li>

            <li class="treeview @(@Request.Url.AbsolutePath.ToLower().Contains("stores") ? "active" : "")">
                <a href="@Url.Action("Details", "Stores", new { id = 1 })">
                    <i class="fa fa-shopping-bag"></i>
                    <span>المتجر</span>
                </a>
            </li>
           
            @*<li style="display:none" class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("jobs") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-briefcase"></i>
                    <span>المهن والحرفيين</span>
                    <i class="fa fa-angle-left pull-left"></i>
                </a>

                <ul class="treeview-menu @(Request.Url.AbsolutePath.ToLower().Contains("jobs") ? "menuopen" : "")">
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("index") ? "active" : "")"><a href="@Url.Action("Index", "AppJobs")"><i class="fa fa-briefcase"></i> المهن والوظائف</a></li>
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("create") ? "active" : "")"><a href="@Url.Action("CreateWorker", "AppJobs")"><i class="fa fa-user-plus"></i> اضافه عامل</a></li>
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("workers") ? "active" : "")"><a href="@Url.Action("Workers", "AppJobs")"><i class="fa fa-users"></i> جميع العمال</a></li>
                </ul>
            </li>*@


            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("drivers") || Request.Url.AbsolutePath.ToLower().Contains("vehicletypes") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-motorcycle"></i>
                    <span>السائقين </span>
                    <i class="fa fa-angle-left pull-left"></i>
                </a>

                <ul class="treeview-menu @(Request.Url.AbsolutePath.ToLower().Contains("drivers") || Request.Url.AbsolutePath.ToLower().Contains("vehicletypes") ? "menuopen" : "")">
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("create") ? "active" : "")"><a href="@Url.Action("Index", "VehicleTypes")"><i class="fa fa fa-motorcycle"></i>انواع المركبات</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("create") ? "active" : "")"><a href="@Url.Action("Create", "Drivers")"><i class="fa fa-plus-circle"></i> اضافه سائق</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("index") ? "active" : "")"><a href="@Url.Action("Index", "Drivers")"><i class="fa fa-users"></i> جميع السائقين</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("new") ? "active" : "")"><a href="@Url.Action("Index", "Drivers", new { q = "new" })"><i class="fa fa-users"></i> الاستمارات الجديدة</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("accepted") ? "active" : "")"><a href="@Url.Action("Index", "Drivers", new { q = "accepted" })"><i class="fa fa-users"></i> المقبولين</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("rejected") ? "active" : "")"><a href="@Url.Action("Index", "Drivers", new { q = "rejected" })"><i class="fa fa-users"></i> المرفوضين</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("blocked") ? "active" : "")"><a href="@Url.Action("Index", "Drivers", new { q = "blocked" })"><i class="fa fa-users"></i> المحظورين</a></li>
                    <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("available") ? "active" : "")"><a href="@Url.Action("Index", "Drivers", new { q = "available" })"><i class="fa fa-users"></i> المتاحين</a></li>
                </ul>
            </li>
            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("product") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-tag"></i>
                    <span>المنتجات </span>
                    <i class="fa fa-angle-left pull-left"></i>
                </a>

                <ul class="treeview-menu @(Request.Url.AbsolutePath.ToLower().Contains("product") ? "menuopen" : "")">
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("categories") ? "active" : "")"><a href="@Url.Action("Index", "ProductCategories")"><i class="fa fa-database"></i> الاقسام والفئات</a></li>
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("index") ? "active" : "")"><a href="@Url.Action("Index", "Products")"><i class="fa fa-tags"></i> المنتجات</a></li>
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("offers") ? "active" : "")"><a href="@Url.Action("Offers", "Products")"><i class="fas fa-gift"></i> العروض</a></li>
                    <li class="@(Request.Url.AbsolutePath.ToLower().Contains("Index") ? "active" : "")"><a href="@Url.Action("Create", "Products")"><i class="fa fa-plus-circle"></i> اضافه منتج</a></li>
                    <li style="display:none" class="@(Request.Url.AbsolutePath.ToLower().Contains("copy") ? "active" : "")"><a href="@Url.Action("CopyCategory", "ProductCategories")"><i class="fa fa-copy"></i> نسخ منيو او قسم</a></li>
                </ul>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("countries") ? "active" : "") @(Request.Url.AbsolutePath.ToLower().Contains("areas") ? "active" : "") @(Request.Url.AbsolutePath.ToLower().Contains("cities") ? "active" : "")">
                <a href="#">
                    <i class="fa fa-map-marker"></i>
                    <span>الدول والمدن</span>
                    <i class="fa fa-angle-left pull-left"></i>
                </a>

                <ul class="treeview-menu @(@Request.Url.AbsolutePath.ToLower().Contains("countries") ? "menuopen" : "")">
                    <li><a href="@Url.Action("Index", "Countries")"><i class="fa fa-circle-o"></i> إدارة الدول</a></li>
                </ul>

                <ul class="treeview-menu @(@Request.Url.AbsolutePath.ToLower().Contains("cities") ? "menuopen" : "")">
                    <li><a href="@Url.Action("Index", "Cities")"><i class="fa fa-circle-o"></i> إدارة المدن</a></li>
                </ul>
            </li>


            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("complaints") ? "active" : "")">
                <a href="@Url.Action("Index", "Complaints")">
                    <i class="fa fa-envelope-open-text"></i> <span>
                        الشكاوى
                        @if (Model.Complaints > 0)
                        {
            <span class="badge bg-orange">@Model.Complaints</span>}
                    </span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("notifications") ? "active" : "")">
                <a href="@Url.Action("Index", "Notifications")">
                    <i class="fa fa-bullhorn"></i> <span>اشعارات التطبيق</span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("sms") ? "active" : "")">
                <a href="@Url.Action("Index", "SMS")">
                    <i class="fa fa-sms"></i> <span>رسائل الـ SMS</span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("clients") ? "active" : "")">
                <a href="@Url.Action("Clients", "Users")">
                    <i class="fa fa-users"></i> <span>مستخدمى التطبيق</span>
                </a>
            </li>


            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("subadmins") ? "active" : "")">
                <a href="@Url.Action("SubAdmins", "Users")">
                    <i class="fa fa-users"></i> <span>مسؤولى النظام</span>
                </a>
            </li>

            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("metadata") ? "active" : "")">
                <a href="@Url.Action("Index", "MetaData")">
                    <i class="fa fa-database"></i> <span>إداره البيانات والمعلومات</span>
                </a>
            </li>
            <li class="treeview @(Request.Url.AbsolutePath.ToLower().Contains("metadata") ? "active" : "")">
                <a href="@Url.Action("Index", "TermsAndConditions")">
                    <i class="fa fa-pencil"></i> <span>الشروط و الأحكام</span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
