@model Talabatak.Models.ViewModels.ChangePasswordVM
@{
    var Worker = ViewBag.Worker as Talabatak.Models.Domains.Worker;
    ViewBag.Title = "تغيير كلمه السر للعامل " + Worker.User.Name;
}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-lock"></i> @ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            @using (Html.BeginForm("ChangeWorkerPassword", "AppJobs", FormMethod.Post))
            {
                <input hidden name="DriverId" value="@Worker.Id" />
                <div class="box-body">
                    @if (User.IsInRole("Worker"))
                    {
                        <div class="form-group">
                            <label for="CurrentPassword" class="required">كلمه السر الحالية</label>
                            @Html.TextBoxFor(w => w.CurrentPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(w => w.CurrentPassword, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="form-group">
                        <label for="Password" class="required">كلمه السر الجديدة</label>
                        @Html.TextBoxFor(w => w.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="required">تأكيد كلمه السر</label>
                        @Html.TextBoxFor(w => w.ConfirmPassword, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            }

            <div style="margin:10px">
                @if (User.IsInRole("Worker"))
                {
                    <a class="btn btn-default" href="@Url.Action("Profile", "Workers")">العودة</a>
                    <br />
                    <br />
                }
                else
                {
                    <a class="btn btn-default" href="@Url.Action("Workers", "AppJobs")">العودة الى العاملين</a>
                    <br />
                    <br />
                }
            </div>
        </div>

    </div>
</div>


