@model Talabatak.Models.ViewModels.SendSMSVM
@{
    ViewBag.Title = "ارسال رسائل نصيه SMS الى المستخدمين";
    var users = ViewBag.Users as List<Talabatak.Models.Domains.ApplicationUser>;
}
<style>
    [class^="select2"] {
        text-align: right;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-send"></i> @ViewBag.Title</h3>
    </div>
    <div class="panel-body">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @if (TempData["SentSuccess"] != null)
        {
            <div class="panel-body alert alert-success text-center">
                تم ارسال الرساله بنجاح
            </div>
        }
        @if (TempData["SentError"] != null)
        {
            <div class="panel-body alert alert-danger text-center">
                @TempData["SentError"]
            </div>
        }
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">
                        <a><i class="fa fa-send"></i> @ViewBag.Title</a>
                    </h4>

                </div>
                <div class="panel-body">
                    <span class="badge bg-blue">تعليمات: </span>
                    <ul>
                        <li>
                            برجاء عدم غلق الصفحه عند ارسال الرساله حيث انه من الممكن ان يستغرق الارسال بعض الدقائق.<br />
                        </li>
                        <li>
                            لاختيار المرسل اليهم لديك 4 اختيارات:
                            <ol>
                                <li>اختيار مستخدم واحد للارسال</li>
                                <li>اختيار عدد محدد من المستخدمين</li>
                                <li>كتابه ارقام من هو غير مسجل فى التطبيق</li>
                                <li>اختيار جميع المستخدمين <span class="text-red">(كلما زاد عدد مستخدمى التطبيق سيتم زياده مبلغ الخصم من الباقه)</span></li>
                            </ol>
                        </li>
                    </ul>
                </div>

                <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <hr />
                        @using (Html.BeginForm("Index", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row" style="margin:10px;">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(w => w.IsAllUsers, new { onchange = "setAllUsers()" })
                                        <label for="IsAllUsers">ارسال لجميع مستخدمى التطبيق</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:10px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="Users" class="col-sm-3 control-label">اختيار المرسل اليهم: </label>
                                        <div class="col-sm-9">
                                            <select name="Users" id="Users" class="select2 form-control" multiple required>
                                                @foreach (var user in users)
                                                {
                                                    <option @(Model != null && Model.Users != null && Model.Users.Any(s => s == user.Id) ? "selected" : "") value="@user.Id">@user.Name - @user.PhoneNumber</option>
                                                }
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Users, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:10px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="PhoneNumbers" class="col-sm-3 control-label">كتابه ارقام المرسل اليهم: </label>
                                        <div class="col-sm-9">
                                            <small>برجاء كتابه العلامه كوما (,) بعد كل رقم لارسال الرساله الى عده ارقام</small>
                                            <small>مثال: 01234567890,0123456890,01234567990</small>
                                            <br />
                                            <input type="text" name="PhoneNumbers" id="PhoneNumbers" class="form-control" />
                                            @Html.ValidationMessageFor(model => model.PhoneNumbers, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin:10px">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="Message" class="col-sm-3 control-label required">محتوى الرسالة:</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.Message, new { @class = "form-control valid", required = true, onkeyup = "countChar()", rows = 7 })
                                            <span id="charNum">0</span><span> حرف</span><br />
                                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">إرسال</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        function countChar() {
            var len = $("#Message").val().length;
            $('#charNum').text(len);
        };

        function setAllUsers() {
            if ($("#IsAllUsers").is(":checked") == true) {
                $("#Users").attr("disabled", true);
            }
            else {
                $("#Users").attr("disabled", false);
            }
        }
        $(function () {
            countChar();
            setAllUsers();
        })
    </script>
}