@model Talabatak.Models.ViewModels.ChangePasswordVM
    @{ 
        var Driver = ViewBag.Driver as Talabatak.Models.Domains.Driver;
        ViewBag.Title = "تغيير كلمه السر للسائق " + Driver.User.Name;
    }
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-lock"></i> @ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            @using (Html.BeginForm("ChangePassword", "Drivers", FormMethod.Post))
            {
                <input hidden name="DriverId" value="@Driver.Id"/>
                <div class="box-body">
                    @*@if (User.IsInRole("Driver"))
                    {
                        <div class="form-group">
                            <label for="CurrentPassword" class="required">كلمه السر الحالية</label>
                            @Html.TextBoxFor(w => w.CurrentPassword, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(w => w.CurrentPassword, "", new { @class = "text-danger" })
                        </div>
                    }*@
                    <div class="form-group">
                        <label for="Password" class="required">كلمه السر الجديدة</label>
                        @Html.TextBoxFor(w => w.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="required">تأكيد كلمه السر</label>
                        @Html.TextBoxFor(w => w.ConfirmPassword, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            }

                <div style="margin:10px">
                    <a class="btn btn-default" href="@Url.Action("Index", "Drivers")">العودة</a>
                    @*@if (User.IsInRole("Driver"))
                    {
                        <a class="btn btn-default" href="@Url.Action("Profile", "Drivers")">العودة</a>
                        <br />
                        <br />
                    }
                    else
                    {
                        <a class="btn btn-default" href="@Url.Action("Index", "Drivers")">العودة الى السائقين</a>
                        <br />
                        <br />
                    }*@
                </div>
        </div>
        
    </div>
    </div>

