@model Talabatak.Models.Domains.OtlobAy7agaOrder
@{
    ViewBag.Title = "تفاصيل الطلب رقم " + Model.Code;
    var CreatedOn = TimeZoneInfo.ConvertTimeFromUtc(Model.CreatedOn, TimeZoneInfo.FindSystemTimeZoneById("Sudan Standard Time"));
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title no-print">@ViewBag.Title</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="text-center" style="margin-bottom:10px;">
                    <h4 style="margin-bottom:20px;">الطلب رقم @Model.Code</h4>
                    <h4 style="margin:10px">
                        @switch (Model.OrderStatus)
                        {
                            case Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Cancelled:
                                <span class="badge bg-red">تم الغاءه</span>
                                break;
                            case Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Started:
                                <span class="badge bg-blue">جارى التوصيل</span>
                                break;
                            case Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Finished:
                                <span class="badge bg-success">تم التوصيل</span>
                                break;
                            case Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Placed:
                                <span class="badge bg-orange"><i class="fa fa-exclamation-triangle"></i> جديد</span>
                                break;
                        }
                    </h4>
                    <h4 style="margin:10px" class="no-print">
                        <br />
                        <a href="@ViewBag.ReturnUrl" class="btn btn-default no-print">العودة</a>
                        <button type="button" onclick="window.print();" class="btn"><i class="fa fa-print"></i> طباعة</button>
                        @if (Model.OrderStatus == Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Placed || Model.OrderStatus == Talabatak.Models.Enums.OtlobAy7agaOrderStatus.Started)
                        {
                            @Html.ActionLink("إلفاء طلـب", "OrderCancel", new { OrderId = Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('هل تريد حذف الطلـب');" })
                        }
                    </h4>
                </div>
                <div>
                    <table class="table text-center table-bordered" dir="rtl">
                        <tbody>
                            <tr>
                                <td>
                                    اسم العميل
                                </td>
                                <td>
                                    @if (Model.UserAddressId.HasValue == true)
                                    {
                                        <p>@Model.UserAddress.Name</p>
                                    }
                                    else
                                    {
                                        <p>@Model.User.Name</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    رقم هاتف العميل
                                </td>
                                <td dir="auto">
                                    <a dir="auto" href="tel:@(Model.UserAddressId.HasValue == true ? Model.UserAddress.PhoneNumber : Model.User.PhoneNumber)">@(Model.UserAddressId.HasValue == true ? Model.UserAddress.PhoneNumber : Model.User.PhoneNumber)</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    عنوان العميل
                                </td>
                                <td>
                                    @if (Model.UserAddressId.HasValue == true)
                                    {
                                        <span>العنوان: @Model.UserAddress.Address</span><br />
                                        <span>تفصيل العنوان: @Model.UserAddress.AddressInDetails</span><br />
                                        <span>رقم المبنى: @Model.UserAddress.BuildingNumber</span><br />
                                        <span>رقم الطابق: @Model.UserAddress.Floor</span><br />
                                        <span>رقم الشقه: @Model.UserAddress.Apartment</span><br />
                                        <span>
                                            العنوان على الخريطه:
                                            <a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@Model.UserAddress.Latitude.Value,@Model.UserAddress.Longitude.Value" title="مشاهدة على الخريطة">اضغط هنا</a>
                                        </span><br />
                                    }
                                </td>
                            </tr>
                            @*<tr>
                                <td>
                                    بريد العميل
                                </td>
                                <td>
                                    <a href="mailto:@Model.User.Email">@Model.User.Email</a>
                                </td>
                            </tr>*@
                            <tr>
                                <td>محافظه الطلب</td>
                                <td>@Model.City.NameAr</td>
                            </tr>
                            <tr>
                                <td>
                                    سعر الطلب
                                </td>
                                <td>
                                    @Model.SubTotal جنيها
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    سعر التوصيل
                                </td>
                                <td>
                                    @Model.DeliveryFees جنيها
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    الاجمالى
                                </td>
                                <td>
                                    @Model.Total جنيها
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    طريقه الدفع
                                </td>
                                <td>
                                    @if (Model.PaymentMethod == Talabatak.Models.Enums.PaymentMethod.Cash)
                                    {
                                        <span>الدفع عند الاستلام</span>
                                    }
                                    @if (Model.PaymentMethod == Talabatak.Models.Enums.PaymentMethod.Online)
                                    {
                                        <span>الدفع اون لاين</span>
                                    }
                                    @if (Model.PaymentMethod == Talabatak.Models.Enums.PaymentMethod.Wallet)
                                    {
                                        <span>الدفع عن طريق المحفظة</span>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    هل تم الدفع؟
                                </td>
                                <td>
                                    @if (Model.IsPaid == true)
                                    {
                                        <span>نعم</span>
                                    }
                                    else
                                    {
                                        <span>لا</span>
                                    }
                                    @if (Model.IsRefundRequired == true)
                                    {
                                        <p class="text-red">مطلوب اعاده المبلغ للعميل</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    السائق
                                </td>
                                <td>
                                    @if (Model.DriverId.HasValue == true)
                                    {
                                        <p>@Model.Driver.User.Name</p>
                                        <p><a href="tel:@Model.Driver.User.PhoneNumber">@Model.Driver.User.PhoneNumber</a></p>
                                    }
                                    else
                                    {
                                        <p>بدون</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    وقت الطلب
                                </td>
                                <td dir="auto">
                                    @CreatedOn.ToLongDateString()<br />
                                    @CreatedOn.ToShortTimeString()
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    محتوى الطلب
                                </td>
                                <td dir="auto">
                                    @if (Model.Details != null)
                                    {
                                        @Html.Raw(Model.Details.Replace("\r\n", "<br />"))
                                    }
                                    <hr />
                                    <h4>الصور المرفقه:</h4>
                                    @if (Model.ImageUrl != null)
                                    {
                                        <a href="@Talabatak.Helpers.MediaControl.GetPath(Talabatak.Helpers.FilePath.Other)@Model.ImageUrl" target="_blank"><img width="300" src="@Talabatak.Helpers.MediaControl.GetPath(Talabatak.Helpers.FilePath.Other)@Model.ImageUrl" /></a>
                                    }
                                    else
                                    {
                                        <p>لا يوجد</p>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="@ViewBag.ReturnUrl" class="btn btn-default no-print">العودة</a>
        </div>
    </div>
</div>


