@{
    var Language = Request.QueryString["lang"];
}
<div class="nav-menu fixed-top" dir="auto">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="@Url.Action("index","Home")"><img src="~/Content/Website/images/logo2new3.png" style="width:155px" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="#home">@(Language != null && Language.ToLower() == "ar" ? "الرئيسية" : "HOME") <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#features">@(Language != null && Language.ToLower() == "ar" ? "المميزات" : "FEATURES")</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#gallery">@(Language != null && Language.ToLower() == "ar" ? "المعرض" : "GALLERY")</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#steps">@(Language != null && Language.ToLower() == "ar" ? "الخطوات" : "STEPS")</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#contact">@(Language != null && Language.ToLower() == "ar" ? "التواصل" : "CONTACT")</a> </li>
                            <li class="nav-item"> <a href="@Url.Action("Index", "Home")@(Language != null && Language.ToLower() == "ar" ? "" : "?lang=ar")" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">@(Language != null && Language.ToLower() == "ar" ? "English" : "العربية")</a></li>
                            <li class="nav-item"> <a href="#download" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">@(Language != null && Language.ToLower() == "ar" ? "التحميل" : "Download")</a></li>
                            <li class="nav-item"> <a href="@Url.Action("Join","Drivers")" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3 join-driver">@(Language != null && Language.ToLower() == "ar" ? "الانضمام كسائق" : "Join as Driver")</a></li>
                            <li class="nav-item"> <a href="@Url.Action("Join","Stores")" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3 join-driver">@(Language != null && Language.ToLower() == "ar" ? "الانضمام كمتجر" : "Join as Store")</a></li>
                            <li class="nav-item"> <a href="@Url.Action("Join","AppJobs")" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3 join-driver">@(Language != null && Language.ToLower() == "ar" ? "الانضمام كعامل" : "Join as Worker")</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
