@model Talabatak.Models.ViewModels.ResetPasswordVM

@{
    ViewBag.Title = "تغيير كلمة السر";
}

    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
                <div class="panel panel-success">
                    <div id="collapseOne" class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <hr />
                            @using (Html.BeginForm("ResetPassword", "Stores", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.Id)

                        <div class="row" style="margin:10px;">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Password" class="col-sm-5 control-label required">  كلمة السر: </label>
                                    <div class="col-sm-7">
                                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control valid", required = true } })
                                        @Html.ValidationMessageFor(d => d.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="NameEn" class="col-sm-5 control-label required">  تاكيد كلمة السر:</label>
                                    <div class="col-sm-7">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control valid", required = true } })
                                        @Html.ValidationMessageFor(d => d.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                                <button type="submit" class="btn btn-info"> تغيير كلمة السر</button>
                            }
                        </div>
                        </div>
                        </div>
                    </div>
        </div>  
    </div>